
.btc{
    display:flex;
    text-align: center;
    font-size:50px;
    justify-content: center;
    color: white;
}


.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 400px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }


 button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #111246;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    }
    button:hover {
        text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.4s ease 0s;
        }
  
  body {
    background:rgb(18, 16, 32);
  }















* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
:root {
    --darkgray: #212329;
    --brightred: #F9423D;
    --white: #FFF;
    --lightred: #F9433DCC;
}
body {
    width: 100%;
    height: 100vh;
}
.nav-container {
    width: 100%;
    background-color: var(--darkgray);
}
.navbar {
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 80px;
    width: 90%;
    max-width: 1720px;
    margin: 0 auto;
}
#navbar-logo {
    color: var(--white);
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}
.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    text-align: center;
    width: 70%;
    justify-self: end;
}
.nav-links {
    color: white;
    text-decoration: none;
}
.nav-links:hover {
    color: var(--brightred);
    transition: all 0.2s ease-out;
}
.nav-links-btn {
    background-color: var(--brightred);
    padding: 6px 16px;
    border-radius: 4px;
}
.nav-links-btn:hover {
    background-color: transparent;
    color: var(--white);
    padding: 5px 15px;
    border-radius: 4px;
    border: 1px solid var(--brightred);
    transition: all 0.3s ease-out;
}
.menu-toggle {
    cursor: pointer;
}
.menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--white);
}